<div class="container d-flex justify-content-center mt-5 text-center">

  <div class="card mt-5" style="width: 18rem;">
    {{!-- <img src="..." class="card-img-top" alt="..."> --}}
    <div class="card-body">
      <h5 class="card-title">Welcome!</h5>
      <p class="card-text">Lets get Started! Click the link below to make your first card!
      </p>
      <form style="max-width:480px;margin:auto;" action="/word-search" method="GET">
        <label for="wordInput">English - German</label><br>
        <input class="form-control" type="text" id="wordInput" name="wordInput"><br>
        <button id="signBtn" class="w-50 btn btn-lg mt-3" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>