<!-- Modal -->
{{!--
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"></div>
      <div class="container-lg text-center mt-5">
        <div class="p-3 mb-5 bg-white rounded">
          <div style="width: 20rem; height: 10rem;" class="container-lg card-body">
            <h1 class="h3 mb-3 mt-5 font-weight-normal"></h1>
            <form style="max-width:480px;margin:auto;" action="/word-search" method="GET">
              <label for="wordInput">Search a word:</label><br>
              <input class="form-control" type="text" id="wordInput" name="wordInput"><br>
              <button id="signBtn" class="w-50 btn btn-lg mt-3" type="submit">Search</button>
            </form>
            {{!--
          </div> --}}
        </div>
      </div>
    </div>
    <div class="modal-footer">
      {{!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button> --}}
    </div>
  </div>
</div>
</div> --}}

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Welcome!</h5>
    <p class="card-text">Lets get Started! Click the link below to make your first card!
    </p>
    <label for="wordInput">Write a word in English - German:</label><br>
    <input class="form-control" type="text" id="wordInput" name="wordInput"><br>
    <button id="signBtn" class="w-50 btn btn-lg mt-3" type="submit">Search</button>
  </div>
</div>