<h1>dashboard</h1>
<form action="/word-search" method="GET">
  <label for="wordInput">Search a word:</label><br>
  <input type="text" id="wordInput" name="wordInput"><br>
  <button type="submit">Search</button>
</form>