<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">

   <title>{{title}}</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
   <link rel="stylesheet" href="/stylesheets/style.css" />
   <link rel="stylesheet" href="/stylesheets/login.css" />
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">

</head>



<body>
   <nav style="width: 80rem;" id="navColor" class="navbar d-flex justify-content-start">

      <div style="width: 40rem;" class=" container d-flex justify-content-start">
         <a href="/random-word"><button id="fadeBtn" class="btn btn-outline-warning me-2" type="button">Word of the
               Day</button></a>
         <a href="/list-words"><button id="fadeBtn" class="btn btn-outline-warning me-2" type="button">Saved
               Words</button></a>




         <button type="button" id="fadeBtn" class="btn btn-outline-warning me-2" data-toggle="modal"
            data-target="#exampleModal">
            Search a word
         </button>

         <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body"></div>
                  <div class="container-lg text-center mt-5">
                     <div class="p-3 mb-5 bg-white rounded">
                        <div style="width: 20rem; height: 10rem;" class="container-lg card-body">
                           <h1 class="h3 mb-3 mt-5 font-weight-normal"></h1>
                           <form style="max-width:480px;margin:auto;" action="/word-search" method="GET">
                              <label for="wordInput">Search a word:</label><br>
                              <input class="form-control" type="text" id="wordInput" name="wordInput"><br>
                              <button id="signBtn" class="w-50 btn btn-lg mt-3" type="submit">Search</button>
                           </form>

                        </div>
                     </div>
                  </div>
                  <div class="modal-footer">

                  </div>
               </div>
            </div>
         </div>
      </div>





      <div style="width: 20rem" class="container d-flex justify-content-center">


         <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               language
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
               <a class="dropdown-item" href="#">German</a>
               <a class="dropdown-item" href="#">Spanish</a>
               <a class="dropdown-item" href="#">French</a>



            </div>
            <a href="/logout"><button id="fadeBtn m-3" class="btn btn-outline-warning me-2"
                  type="button">Logout</button></a>
         </div>
      </div>
   </nav>


   {{{body}}}


   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"
      integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
      async></script>

</body>


</html>