<h1>Your saved words:</h1>

{{#each words}}
<h3>{{this.searchedWord}}</h3>
<p>Translation:{{this.translatedWord}}</p>
{{!-- <p>Example:{{this.gerSentence}}</p> --}}
<a href="/word-detailpage">Edit</a>
<a href="/list-words">Delete</a>
<br>
<br>
{{/each}}

