
  



a {
  color: #00b7ff; }

h1 {
  color: 15px; }


  .sign {
    background-color: magenta;
  }

  #signUp {
   height: 600px;
   width: 600px;
   display: flex;
  flex-direction: column;
  align-items: center; 
 }